langgraph
langchain-community
dashscope
python-dotenv
streamlit
chromadb 
tiktoken
streamlit
langchain-core
protobuf==3.20.3
fastapi
langchain-chroma
langchain-chroma 
sentence-transformers 
huggingface-hub
torchvision